body {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.container-fluid {
    z-index: 1;
}

/* ------------------------- NAVBAR ------------------------- */

.container-fluid .navbar .btn {
    font-weight: 600;
    margin-right: 10px;
    opacity: 0.8;
}

.container-fluid .navbar .btn:hover {
    font-weight: 800;
    color: black;
    transition: 0.3s;
}

.navbar #brand {
    font-size: 30px;
    font-weight: 900;
    color: black;
    transition: 0.5s;
}

.navbar #brand:hover {
    color: white;
    transition: 0.5s;
}

.navbar-custom {
    background: linear-gradient(90deg, #524398 0%, #a8c0ff 100%);
}

.navbar .nav-link {
    font-size: 20px;
    color: black;
    transition: all 0.5s;
    font-weight: 600;
}

.navbar .nav-link:hover {
    transition: all 0.5s;
    color: white;
    font-weight: 600;
}

.navbar .nav-item .dropdown-menu>a {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.3s;
}

.navbar .nav-item .dropdown-menu>a:hover {
    background-color: #7171c7;
    color: white;
    border-radius: 6px;
    transition: all 0.3s;
}

.container-fluid .navbar .navbar-toggler {
    color: white;
}


/*------------------------- SIDEBAR -------------------------*/

.wrapper {
    display: flex;
    text-decoration: none;
    transition: 0.1s;
}

.wrapper .sidebar {
    z-index: 2;
    width: -200px;
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background: white;
    border-right: 2px solid grey;
    font-weight: 600;
    position: fixed;
    /* Apply to all changed properties */
    transition: all 0.5s;
}

.wrapper #sidebar .sidebar-header-div {
    padding: 20px 5px;
}

.wrapper #sidebar .sidebar-header-div .profile-img {
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

.wrapper #sidebar .sidebar-header-div .display-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}


#sidebar .sidebar-header-div #label-for-input {
    color: black;
    font-size: 15px;
}

#sidebar .sidebar-header-div #label-for-input:hover {
    cursor: pointer;
    text-decoration: underline;
}

#sidebar-header {
    color: black;
    font-weight: 600;
}

.wrapper .sidebar .sidebar-header-div #display-img {
    border: 4px solid black;
    margin-left: 10%;
}

.wrapper .sidebar .sidebar-item {
    padding: 10px;
    width: 85%;
    color: #59c0e6;
    transition: all 0.5s;
}

.wrapper .sidebar .sidebar-item>a {
    transition: all 0.3s;
}

.wrapper .sidebar .sidebar-item:hover {
    background-color: navy;
    border-radius: 6px;
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
}

.wrapper .sidebar .sidebar-item-a {
    color: navy;
    transition: 0.5s;
    font-size: 19px;
}

.wrapper .sidebar .sidebar-item-a:hover {
    text-decoration: none;
    color: white;
}


#sidebar .sidebar-lis {
    padding: 20px 0;
    margin-top: 10px;
}

.sidebar-lis li {
    padding: 0 10%;
}

.sidebar-lis li a {
    text-align: center;
}

/* icons */
.i-item {
    font-size: 22px;
}

.sidebar .text-center {
    margin-top: 5%;
}

.sidebar #night-switch {
    font-size: 20px;
    color: #7171c7;
}

.sidebar #night-switch:hover {
    transition: 0.5s;
    background: #183052;
}

.sidebar #light-switch {
    display: none;
    font-size: 20px;
    color: gold;
}

.sidebar #light-switch:hover {
    transition: 0.5s;
    background: #f5f5dc;
}


/*------------------------- content pane -------------------------*/

.content-container .row {
    padding: 20px;
}

.content-container .row {
    width: 100%;
    min-height: 100%;
    transition: all 0.5s;
}

/* ------------------ INFO content ------------------ */

.tab-content #pane-info #user-info-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-content #pane-info #user-info-intro #info-title {
    font-size: 4em;
    text-align: center;
}

.tab-content #pane-info #user-info-intro .content-title #info-title-cn {
    font-size: 1.4em;
    font-weight: 600;
}

.tab-content #pane-info #user-info-intro .content-title #info-title-en {
    font-size: 0.8em;
    font-weight: 600;
}

.tab-content #pane-info #user-info-img {
    width: 100%;
    height: 100%;
}

.tab-content #pane-info .card .info-compo {
    font-size: 20px;
    font-weight: 500;
}

.tab-content #pane-info #info-card .card .info-compo span {
    font-size: 22px;
    cursor: auto;
    overflow: hidden;
}

.tab-content #pane-info #info-card .card #walletid-part {
    display: flex;
}

.tab-content #pane-info #info-card .card #walletid-part #label-walletid {
    width: 90px;
}

.tab-content #pane-info #info-card .card #input-walletid {
    margin-right: 15px;
    height: 30px;
    width: 70%;
    font-size: 15px;
}

.tab-content #pane-info #security-img {
    width: 100%;
    height: 100%;
}

.tab-content #pane-info #info-instruction {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pane-info #info-instruction #notation .modal {
    z-index: 10000000 !important;
    /* due to sidebar's z-index, this should pint ot top layer*/
}

small, label {
    cursor: auto;
}

/* ------------------ ASSET content ------------------ */

.tab-content #pane-asset #user-asset-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-content #pane-asset #user-asset-intro .content-title {

    text-align: center;
}

.tab-content #pane-asset #user-asset-intro .content-title #title-cn {
    font-size: 2.3em;
    font-weight: 600;
}

.tab-content #pane-asset #user-asset-intro .content-title #title-en {
    font-size: 1.0649em;
    font-weight: 600;
}


.tab-content #pane-asset #user-asset-img {
    width: 100%;
    height: 100%;
}


/*----------------- Asset Profit card -----------------*/

.tab-content #pane-asset #three-cards .card-body {
    width: 100%;
    height: 160px;
}

.tab-content #pane-asset #three-cards #profit-title {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

.tab-content #pane-asset #three-cards #invisible-switch {
    font-size: 20px;
}

.tab-content #pane-asset #three-cards #invisible-switch:hover {
    transition: 0.5s;
}

.tab-content #pane-asset #three-cards #visible-switch {
    display: none;
    font-size: 20px;
    border: 2px solid black;
}

.tab-content #pane-asset #three-cards #invisible-switch {
    font-size: 20px;
}

.tab-content #pane-asset #three-cards #visible-switch:hover {
    transition: 0.5s;
}

#three-cards .card .card-body .fa-eye:hover {
    cursor: pointer;
}

#three-cards .card .card-body .b-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#three-cards .card .card-body .b-div .b-num {
    font-size: 45px;
}

#three-cards .card .card-body .b-div .b-unit,
#three-cards .card .card-body .b-div .b-percent {
    font-size: 23px;
}

/* ----------------- Convert NTD ----------------- */

#three-cards #sum {
    margin-top: 0px;
}

#three-cards .card #convert-card #convert-num {
    font-size: 45px;
}

#three-cards .card #convert-card #convert-unit {
    font-size: 25px;
}

/* ----------------- chart row ----------------- */

.tab-content #pane-asset #chart-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-content #pane-asset .card .canvas-container {
    width: 100%;
    height: 300px;
}

.tab-content #pane-asset #asset-table-div {
    border: 2px solid black;
}

/*------------------------- TRANSFER content -------------------------*/

.tab-content #pane-transfer #content-navigator {
    border: 3px solid grey;
    box-shadow: 5px 10px #888888;
    background-color: #f5f5dc;
    border-radius: 3px;
    width: 150px;
    height: 100px;
    right: 20px;
    position: fixed;
    z-index: 2;
    padding: 0px 13px;
}

#pane-transfer #content-navigator #href-div a {
    display: block;
    font-size: 16px;
}

.tab-content #pane-transfer #transfer-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-content #pane-transfer #transfer-intro #transfer-title {
    text-align: center;
    font-weight: 600;
}

.tab-content #pane-transfer #transfer-intro #transfer-title #title-cn {
    font-size: 2.1em;
}

.tab-content #pane-transfer #transfer-intro #transfer-title #title-en {
    font-size: 1.0649em;
}

.tab-content #pane-transfer #transfer-img {
    width: 100%;
    height: 100%;
}

#pane-transfer #transfer-intro #transfer-img-div #transfer-img {
    width: 100%;
    height: 100%;
}

#pane-transfer .row #form-div {
    /* "." means current folder, ".." means parent folder */
    background-image: url("../imgs/list.jpg");
    background-position: center;
    background-size: cover;
    padding: 500px;
    width: 400px;
    height: 800px;
    overflow: hidden;
    position: relative;
}

#pane-transfer .row #form-div .steps {
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.95;
    color: #3f2b96;
    font-weight: 600;
    margin: 30px auto;
    padding: 30px 40px;
    width: 550px;
    height: 560px;
    min-width: 300px;
    position: absolute;
    left: 260px;
    transition: 0.6s;
}

/* #pane-transfer .row #form-div #step-2,
#pane-transfer .row #form-div #step-3,
#pane-transfer .row #form-div #step-4 {
    left: 1110px;
    border: 2px solid black;
} */

#pane-transfer .row #form-div #step-2,
#pane-transfer .row #form-div #step-3 {
    left: 1110px;
    border: 2px solid black;
}

#pane-transfer .row #form-div #step-4 {
    left: 1110px;
}

#pane-transfer .row #form-div #step-4 .row span {
    /* must add "display: block;" when styling span's width */
    display: block;
    width: 180px;
    overflow: auto;
}

#pane-transfer .row #form-div #form-title #span-cn {
    font-size: 36px;
}

#pane-transfer .row #form-div #form-title #span-en {
    font-size: 25px;
}

#pane-transfer .row #form-div .tab-labels {
    font-size: 20px;
    color: #253ecc;
}

#pane-transfer .row #form-div .labels {
    font-size: 30px;
}

#pane-transfer .row #form-div .steps input {
    font-size: 16px;
    padding: 5px;
    width: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#pane-transfer .row #form-div #step-3 #veri-label,
#pane-transfer .row #form-div #step-3 #veri-code {
    font-size: 20px;
}

#pane-transfer .row #form-div #sender-item-dropdown {
    width: 100%;
    height: 35px;
    font-size: 19px;
    padding: 0px 10px;
    border-radius: 5px;
}


/*------------------------- HELP content -------------------------*/

.tab-content #pane-help #help-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-content #pane-help #help-intro #help-title {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.tab-content #pane-help #help-img {
    width: 100%;
    height: 100%;
}

#pane-help #textarea-row #help-div {
    height: 100%;
}

#pane-help #textarea-row #help-div #area-title {
    font-weight: 600;
}

#pane-help #textarea-row #help-div #help-card {
    border: 3px solid #59c0e6;
    width: 80%;
    margin-left: 30%;
    margin: 0 auto;
}

#pane-help #textarea-row #help-div #help-card .text-info {
    display: block;
}

#pane-help #textarea-row #help-div #textarea-div {
    padding: 10px;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pane-help #textarea-row #help-div #textarea-div #textarea:focus {
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
    border: 3px solid #9dc4e0;
}

#pane-help #textarea-row #help-div .card-body .card-text span {
    color: #253ecc;
    font-size: 18px;
    font-weight: 600;
}

/*------------------------- footer -------------------------*/

.card .card-body .social-btns {
    padding: 10px;
}

.container-fluid .card .social-btns {
    padding: 20px;
}



#myBtn {
    display: none;
    position: fixed;
    height: 50px;
    text-align: center;
    bottom: 20px;
    right: 30px;
    z-index: 4;
    font-size: 18px;
    border-radius: 6px;
    outline: none;
    background-color: #183052;
    color: white;
    cursor: pointer;
    padding: 15px 15px 30px 15px;
    transition: 0.3s;
}

#myBtn:hover {
    background-color: white;
    color: #183052;
    transition: 0.3s;
}

/*------------------------- RWD settings -------------------------*/

/* bootstrap xl 1024 ~ infin px, google laptop(>=1024) and XL laptop */
@media screen and (min-width: 1024px) and (max-width: 1200px) {

    .tab-content #pane-info .card #walletid-part #label-walletid {
        width: 18%;
    }

    /* .tab-content #pane-info #info-title {
        font-size: 5em;
        text-align: center;
    } */

    .tab-content #pane-asset #asset-title {
        font-size: 2.1em;
        text-align: center;
    }

    .tab-content #pane-transfer #transfer-title {
        font-size: 2.1em;
        text-align: center;
    }

    .tab-content #pane-help #help-title {
        font-size: 2.1em;
        text-align: center;
    }

    .tab-content #pane-asset #three-cards #asset-profit {
        margin-left: 8%;
        margin-bottom: 5%;
    }

    .tab-content #pane-asset #three-cards #asset-profit {
        margin-bottom: 5%;
    }

    .tab-content #pane-asset #three-cards #sum {
        padding: 0% 15% 0% 15%;
    }

    #pane-transfer .row #form-div #nextBtn {
        margin-left: 10px;
    }
}

/* bootstrap lg 993 ~ 1023px */
@media screen and (min-width: 992px) and (max-width: 1024px) {

    .tab-content #pane-asset #asset-title {
        font-size: 1.8em;
        text-align: center;
    }

    .tab-content #pane-asset #three-cards #asset-profit {
        margin-left: 8%;
        margin-bottom: 5%;
    }

    .tab-content #pane-asset #three-cards #asset-profit {
        margin-bottom: 5%;
    }

    .tab-content #pane-asset #three-cards #sum {
        padding: 0% 15% 0% 15%;
    }

    #pane-transfer .row #form-div input {
        height: 45px;
        padding: 5px;
        font-size: 18px;
    }

    #pane-transfer .row #form-div #sender-wid {
        height: 45px;
        padding: 5px;
        font-size: 17px;
    }

    #pane-transfer .row #form-div #nextBtn {
        margin-left: 10px;
    }

}


/* bootstrap md 768 ~ 991px */
@media screen and (min-width:768px) and (max-width: 992px) {

    /* --------------------------- pane-info --------------------------- */

    .tab-content #pane-info #info-title {
        margin-top: 5%;
        font-size: 1.8em;
    }

    .tab-content #pane-info .card #walletid-part {
        width: 100%;
    }

    .tab-content #pane-info .card #walletid-part #label-walletid {
        width: 150px;
    }

    .tab-content #pane-info #info-card .row #walletid-part #bangbang {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .tab-content #pane-info #info-card .row #walletid-part #bangbang input {
        width: 100%;
    }


    /* --------------------------- pane-asset --------------------------- */

    .tab-content #pane-asset #asset-title {
        font-size: 1.8em;
        text-align: center;
    }

    .tab-content #pane-asset #three-cards #sum {
        padding: 0% 10% 0% 10%;
    }

    .tab-content #pane-transfer #transfer-title {
        font-size: 1.8em;
    }

    .tab-content #pane-help #help-title {
        text-align: center;
        font-size: 1.8em;
    }

    .tab-content #pane-asset #three-cards .displays {
        margin-bottom: 5%;
    }


    /* --------------------------- pane-trnasfer --------------------------- */

    #pane-transfer .row #form-div {
        width: 80%;
    }

    #pane-transfer .row #form-div .labels {
        font-size: 26px;
    }

    #pane-transfer .row #form-div input {
        height: 45px;
        padding: 5px;
        font-size: 18px;
    }

    #pane-transfer .row #form-div #sender-wid {
        height: 45px;
        padding: 5px;
        font-size: 14px;
    }

    #pane-transfer .row #form-div #nextBtn {
        font-size: 18px;
        height: 40px;
        width: 75px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        margin-left: 10px;
        padding: 4px 8px;
    }

    #pane-transfer .row #form-div #prevBtn {
        font-size: 18px;
        height: 40px;
        width: 85px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        padding: 4px 8px;
    }

}

/* bootstrap sm 576 ~ 767px */
@media screen and (max-width: 768px) {

    .tab-content #pane-info #info-card .card-body #walletid-part #label-walletid {
        width: 100%;
    }

    .tab-content #pane-info #info-card .card-body #walletid-part #save-wid-btn {
        margin-top: 3%;
    }

    .tab-content #pane-info #info-card .row #walletid-part #bangbang input {
        width: 100%;
    }

    .tab-content #pane-asset #three-cards #asset-profit,
    .tab-content #pane-asset #three-cards #total-holdings {
        margin-bottom: 5%;
    }

    #smartwizard-procedure #smartwizard-nav {
        display: block;
    }

    #smartwizard-procedure #form-div #step-1 form #wallet-row div input {
        font-size: 14px;
    }

    #pane-transfer .row #form-div {
        width: 100%;
    }

    #pane-transfer .row #form-div {
        width: 80%;
    }

    #pane-transfer .row #form-div #form-title span {
        display: block;
    }

    #pane-transfer .row #form-div #form-title #span-cn {
        font-size: 28px;
    }

    #pane-transfer .row #form-div #form-title #span-en {
        font-size: 25px;
    }

    #pane-transfer .row #form-div .labels {
        font-size: 20px;
    }

    #pane-transfer .row #form-div input {
        height: 35px;
        padding: 5px;
        font-size: 16px;
    }

    #pane-transfer .row #form-div #nextBtn {
        font-size: 16px;
        height: 40px;
        width: 70px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        margin-left: 10px;
        padding: 4px 8px;
    }

    #pane-transfer .row #form-div #prevBtn {
        font-size: 16px;
        height: 40px;
        width: 80px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        padding: 4px 8px;
    }

}

/* bootstrap extra small 0 ~ 575 px */
@media screen and (max-width: 576px) {

    .tab-content #pane-info #info-title {
        font-size: 1.5em;
        margin-top: 3%;
    }

    .tab-content #pane-asset #asset-title {
        text-align: center;
        font-size: 1.5em;
    }

    .tab-content #pane-transfer #transfer-title {
        font-size: 1.7em;
    }

    #pane-asset #sum {
        /* center convert to NTD */
        margin: 0px;
    }

    .tab-content #pane-transfer #transfer-title {
        font-size: 1.5em;
    }

    #pane-transfer .row #form-div #form-title #span-cn {
        font-size: 28px;
    }

    #pane-transfer .row #form-div #form-title #span-en {
        font-size: 25px;
    }

    #pane-transfer .row #form-div .labels {
        font-size: 20px;
    }

    #pane-transfer .row #form-div input {
        height: 35px;
        padding: 5px;
        font-size: 16px;
    }

    #pane-transfer .row #form-div #nextBtn {
        font-size: 16px;
        height: 40px;
        width: 70px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        margin-left: 10px;
        padding: 4px 8px;
    }

    #pane-transfer .row #form-div #prevBtn {
        font-size: 16px;
        height: 40px;
        width: 80px;
        border: 1px solid #7dcdd1;
        margin: 4px 2px;
        padding: 4px 8px;
    }

    .tab-content #pane-help #help-title {
        font-size: 1.5em;
    }

    .tab-content #pane-info .card #walletid-part #label-walletid {
        width: 500px;
    }

    .tab-content #pane-info #info-card .row #walletid-part #bangbang input {
        width: 100%;
    }

    .tab-content #pane-info #info-card .row #walletid-part #bangbang .btn {
        margin-top: 3%;
    }

    .tab-content #pane-asset #three-cards .displays {
        margin-bottom: 5%;
    }

    .tab-content #pane-transfer #smartwizard-procedure .nav {
        width: 50%;
        font-size: 20px;
        padding: 0 auto;
    }

    .tab-content #pane-transfer .smartwizard .tab-content #form-div {
        background: #7171c7;
    }
}


/*------------------------- end RWD settings -------------------------*/