* {
    font-family: 'Barlow', sans-serif;
}

/* ------------------------- CSS for navbar ------------------------- */

#brand {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#brand:hover {
    color: white;
    transition: 0.5s;
}

#brand:not(:hover) {
    transition: 0.5s;
}

.navbar-custom {
    background: linear-gradient(90deg, #a8c0ff 0%, #3f2b96 100%);
}

.navbar .nav-link {
    font-size: 18px;
    color: black;
    transition: all 0.5s;
    font-weight: 600;
}

.navbar .nav-link:hover {
    transition: all 0.5s;
    color: white;
    font-weight: 600;
}

.navbar .nav-item .dropdown-menu>a {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.3s;
}

.navbar .nav-item .dropdown-menu>a:hover {
    background-color: #7171c7;
    color: white;
    border-radius: 6px;
    transition: all 0.5s;
}

/* ------------------------- end css for navbar ------------------------- */


/* ------------------------- CSS for form ------------------------- */
#round-corner {
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 20px;
    border: 3px solid grey;
    border-radius: 20px;
    box-shadow: 10px 5px 5px grey;
}

.form-switcher {
    font-weight: bolder;
    color: #ff735c;
}

.form-switcher:hover {
    transition: 0.5s;
    color: black;
}

.form-switcher:not(:hover) {
    transition: 0.5s;
}

h1 {
    color: #ff735c;
    font-weight: bolder;
    cursor: auto;
}

.shadow-container {
    margin-bottom: 5%;
}

#inside-shadow-row {
    padding: 25px;
}

#signup-form {
    margin-top: 24px;
}

.container-fluid .shadow-container #signup-img-div {
    padding: 0% 2%;
}

#signup-img {
    width: 100%;
    height: 90%;
}

.form {
    margin-top: 5%;
    padding-left: 5%;
    margin-bottom: 3%;
}

.form-label {
    color: #ff735c;
    font-weight: bolder;
    font-size: 22px;
    cursor: auto;
}

.from-group {
    width: 80%;
}

.form-control {
    width: 70%;
}

.input-compo {
    padding: 5px;
    margin-bottom: 18px;
    width: 50%;
    font-size: 18px;
}

form .btn {
    background-color: #ff735c;
    border-color: #ff735c;
    font-size: 18px;
    font-weight: bolder;
}

form .btn:hover {
    transition: 0.5s;
    color: #ff735c;
    background-color: white;
    border-color: #ff735c;
}

form .btn:not(:hover) {
    transition: 0.5s;
}

.modal .modal-content .modal-header {
    background: #fff;
    width: 100%;
}

/* ------------------------- end css for form ------------------------- */